p,h1,h2,h3,h4,form,table.log {
  font-family:helvetica;
  font-size:100%;
}

.hometext {
  padding-left:5px;
  padding-right:5px;
}

body {
  margin:0px;
}

div#add_user_form {
  visibility:hidden;
  position:absolute;
  width:290px;
  z-index:101;
  background-color:white;
  border:1px solid black;
  border-radius:5px;
  padding:5px;
}

div#map_legend {
  visibility:hidden;
  position:absolute;
  width:290px;
  z-index:100;
  background-color:white;
  border:1px solid black;
  border-radius:5px;
  padding:5px;
}

p.toolbar {
  margin:0px;
  height:40px;
  text-align:center;
}

div#toolbar {
    margin:0px;
    height:40px;
    background-color:black;
}

p#map_controls_message {
  margin-top:5px;
  margin-bottom:0px;
  margin-left:0px;
  margin-right:0px;
  min-height:30px;
}

div.popup_box {
  position:absolute;
  top:50px;
  left:50px;
  width:250px;
  background-color:white;
  border-color:black;
  border-style:solid;
  border-width:1px;
  padding:10px;
  border-radius:5px;
  visibility:hidden;
}

.centered {
  text-align:center;
}

img.marker_profile_image {
  max-height:48px;
  max-width:48px;
  float:left;
  margin-right:5px;
  margin-bottom:5px;
  border-width:0px;
}

div.marker_image {
  float:right;
  margin-top:8px;
}

a, .link {
  color:#333399;
  cursor:pointer;
}

a:link,a:visited {
  text-decoration:none;
}

a:hover, a:active, .link:hover, .link:active {
  text-decoration:underline;
}

p.map_add_links {
  clear:both;
}

p.thumbnail {
  clear:both;
  margin-top:20px;
}

img.thumbnail {
  margin-right:15px;
  border-width:0px;
}

img.toolbar_icon {
    border-width:0px;
    margin-left:15px;
    margin-right:15px;
    margin-top:5px;
    margin-bottom:5px;
}

.error_message {
  color:#CC0000;
  font-weight:bold;
}

.progress_message {
  font-weight:bold;
}

p.map_user {
  clear:both;
}

img.profile_image {
  max-height:48px;
  max-width:48px;
  border-width:0px;
}

div.profile_image {
  height:48px;
  width:48px;
  float:left;
  margin-right:5px;
  margin-bottom:5px;
}

div.marker_image {
  float:right;
  margin-top:8px;
}

p.map_legend_text {
  float:left;
  margin-top:8px;
}

img.close_icon {
    border-width:0px;
    background-color:black;
    margin-bottom:5px;
}

div.separator {
    clear:both;
}

p.last_tweet {
  font-size:80%;
  clear:both;
}

a.screen_name {
  font-weight:bold;
  color:black;
}

a.user_name,a.tweet_link {
  color:black;
}

label, p.disabled-form-label {
    width:100px;
    display:inline-block;
    vertical-align:middle;
}

p.disabled-form-label {
    color:#808080;
    margin:0px;
}

p.disabled-show-options {
    color:#808080;
    margin-bottom:5px;
    margin-top:0px;
}

input {
    display:inline-block;
}

div.form-line {
    margin-bottom:5px;
}

div#hide-options {
    display:none;
    margin-bottom:5px;
}
