<div class="warning">
  <p class="bold">Could not sign in using Twitter</p>
  <p>You might have cookies disabled in your browser. Check that cookies are enabled and then try signing in again</p>
</div>