<div class="hometext">

<p class="faqq">Q. When I click "Show on Map" I get an error saying I have no tweets with locations.</p>
<p class="faqa">A. You might not have locations enabled in your Twitter settings.
Go to <%= link_to 'http://twitter.com/settings/account', 'http://twitter.com/settings/account', :target => '_blank' %>
and make sure that "Add a location to your tweets" is checked.</p>

<p class="faqq">Q. I know the user I'm entering has some geotagged tweets, but they aren't showing up.</p>
<p class="faqa">A. Tweetpaths only fetches the last 75 tweets for the user. If the geotagged tweets are old, try entering
a date range. When you enter a date range, Tweetpaths fetches the last 75 tweets in that range.</p>

</div>