<div class="hometext">

<h1 class="hometext">Terms and Privacy information</h1>
<p class="hometext">This page contains the terms of use and some privacy information for Tweetpaths.</p>

<h1 class="hometext">Sign in with Twitter</h1>
<p class="hometext">To use the Tweetpaths map, you must first sign in with Twitter.
When asked, you will need to allow Tweetpaths the ability to access your data on Twitter.
Tweetpaths will use this access only to fetch tweets, and to get your id, screen name, time zone and location
from your Twitter profile.</p>

<p class="hometext">Tweetpaths does not have access to your Twitter password. When you enter your password you are entering
it on the Twitter website. Twitter then gives Tweetpaths an access token to access your data.
You can revoke this access at any time from the Twitter settings page, under the Connections option.</p>

<p class="hometext">Fetching tweets via Tweetpaths will count agains your Twitter API limit. Each time you add a user to a map
Tweetpaths makes one API call on your behalf.</p>

<h1 class="hometext">Google Maps</h1>
<p class="hometext">As Tweetpaths uses Google Maps, the Tweetpaths terms of service includes the
<%= link_to 'Google Maps terms of service', 'http://www.google.com/intl/en-US_US/help/terms_maps.html', :target => '_blank' %>.</p>

</div>